<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
  커뮤니티 블로그 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-ling">계정 인증 이메일을 확인</a>하세요.
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-2">
      <h5 class="font-weight-light">관심 주제</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="tag: ${account.tags}">
          <i class="fa fa-tag"></i> <span th:text="${tag.title}"></span>
        </li>
<!--        th:if="${account.tags.size() == 0}"-->
        <li class="list-group-item">
          <a th:href="@{/settings/tags}" class="btn-text">관심 주제</a>를 설정하세요.
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <div class="row justify-content-center px-3">
        <div th:replace="fragments.html :: post-list (postList=${postList})"></div>
      </div>
    </div>

    <div class="col-md-3">
      <h5 class="font-weight-light" th:if="${#lists.isEmpty(postManagerOf)}">최근에 작성하신 게시글이 없습니다.</h5>
      <h5 class="font-weight-light" th:if="${!#lists.isEmpty(postManagerOf)}">최근 나의 게시글</h5>
      <div class="list-group" th:if="${!#lists.isEmpty(postManagerOf)}">
        <a href="#" th:href="@{'/post/' + ${post.id} + '/details'}" th:text="${post.title}"
           class="list-group-item list-group-item-action" th:each="post: ${postManagerOf}">
          Post title
        </a>
      </div>

      <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(postByFavoriteTag)}">관심 주제의 게시글이 없습니다.</h5>
      <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(postByFavoriteTag)}">관심 주제의 최근 게시글</h5>
      <div class="list-group" th:if="${!#lists.isEmpty(postByFavoriteTag)}">
        <a href="#" th:href="@{'/post/' + ${post.id} + '/details'}" th:text="${post.title}"
           class="list-group-item list-group-item-action" th:each="post: ${postByFavoriteTag}">
          Post title
        </a>
      </div>
    </div>

  </div>
</div>

<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>