<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>멍뷰니티</h1>
            <p class="lead text-muted">
                #해쉬태그 기반 게시글을 생성하시고, 소통해보세요! <br />
                기본적인 커뮤니티 기능을 제공합니다.
            </p>
            <p>
                <a th:href="@{/signup}" class="btn btn-primary my-2">회원 가입</a>
            </p>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-center pt-3">
            <div th:replace="fragments.html :: post-list-for-nonLogin (postList=${postList})"></div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
        <div th:replace="fragments.html :: date-time"></div>
    </div>
</body>
</html>