<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
  커뮤니티 블로그 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-ling">계정 인증 이메일을 확인</a>하세요.
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-2">
      <h5 class="font-weight-light">관심 주제</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="tag: ${account.tags}">
          <i class="fa fa-tag"></i> <span th:text="${tag.title}"></span>
        </li>
        <li class="list-group-item" th:if="${account.tags.size() == 0}">
          <a th:href="@{/settings/tags}" class="btn-text">관심 주제</a>를 등록하세요.
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row justify-content-center px-3">
        <div th:replace="fragments.html :: post-list (postList=${postList})"></div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>